#about{
    background-color: $color-theme-dark;
    color: white;
    padding: 40px 10px;
    // border-radius: 200px;

    .two-col{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 0px;  
        grid-template-areas: "col1" "col2";
      
        @include break-up('small'){
            grid-template-columns: auto calc(33% - 5px);
            grid-template-rows: 1fr;
            grid-template-areas: "col1 col2";
        }

        .col{
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          grid-area: col1;

          & + .col{
            grid-area: col2;
          }
      
          img{
            object-fit: cover;
            border-radius: 50%;
            border: 2px solid $color-theme;
            outline: 2px solid $color-theme;
            outline-offset: 5px;
            max-width: 250px;
          }
        }
      
      }

}