.badge-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    width: 100%;

    &--dark-red{
        .badge{
            @extend .badge--dark-red;  
        }
    }
}

.badge{
    $badge-depth: 10px;
    position: relative; 
    overflow: visible;
    width: max-content;
    padding: $badge-padding;
    border-radius: 20px;
    white-space: nowrap;
    margin: 15px 0px;

    color: black;
    background-color: $color-page-dark;
    border: 1px solid $color-theme-dark;
    @include multi-dark-box-shadow(5, $color-theme-dark);

    *{
        display: inline-block;
    }

    &--dark-red{
        // color: black;
        // background-color: $color-page-dark;
        // border: 1px solid $color-theme-dark;
        // @include multi-dark-box-shadow(5, $color-theme-dark);
        color: white;
        background-color: $color-dark-page;
        border: 1px solid $color-page-dark;
        @include multi-dark-box-shadow($badge-depth, $color-theme-accent);
    }

    // &::before{
    //     //@extend .anim__badge;
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     // inset: 0;
    //     inset: $badge-depth calc(-1 * $badge-depth) calc(-1 * $badge-depth) $badge-depth;
    //     border-radius: 20px;
    //     outline: 2px solid $color-theme-accent;
    //     //filter: blur(5px);
    //     background: transparent;
    // }


}
