.badge-list{
    margin: 10px auto;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
    padding: 0 5px;
}

.badge{
    width: max-content;
    padding: $badge-padding;
    //border: 2px solid $color-theme;
    border-radius: 20px;
    background-color: $color-theme-light-accent;
    white-space: nowrap;
    color: $color-theme-dark;
    box-shadow: -3px 3px 0px $color-theme;

    *{
        display: inline-block;
    }

    &--accent{
        @extend .badge;
        background-color: $color-theme-accent;
        color: white;
        box-shadow: -3px 3px 0px $color-theme-accent-dark;
    }
}
