.card-grid{
    $diameter : 50px;

    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    $gap: 10px;
    gap: $gap calc(2 * #{$gap});
    padding-top: calc($diameter / 2)!important;
}

.card{
    position: relative;
    overflow: visible;
    padding: 15px;
    border: 5px solid $color-theme;
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &.swiper-slide-active{
        border-bottom: 5px solid $color-page;
    }

    &__logo{
        display: none;
        position: absolute;
        width: calc(30% - 10px);
        background-color: $color-work-boh;
    }

    &__header{
        font-size: 2rem;
        margin-bottom: 15px;
        span{
            padding-right: 10px;
            font-size: 1.6rem;
            color: #80808050;
        }

        // span{
        //     position: absolute;
        //     inset: 0 0 auto auto;
        //     color: white;

        //     &::before{
        //         display: block;
        //         position: absolute;
        //         inset: 0;
        //         content: '';
        //         aspect-ratio: 1/1;
        //         height: 100%;
        //         background-color: red;
        //     }
        // }
    }
    
    &__role{
    }

    &__list{
        display: none;
    }
   
}

.card-swiper{
    overflow: visible;

    &::after{   
        content:'';
        background-image: url(/images/nicholas-cage.webp);
        color: $color-page;
        font-size: 4rem;
        display: block;
        position: absolute;
        top:0px;
        height: 100%;
        width: 33%;
        //transform: translateX(-100%);
        background-color: $color-theme;
        z-index: 5;
    }

    .swiper-wrapper{

        .swiper-slide{
            height: auto;
        }
    }

    .card-nav{
        position: absolute;
        top: 50%;
        outline: 2px dashed $color-theme;
        background-color: $color-page;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        transition: 300ms;

        &__next{
            right: 0px;
        }
        &__prev{
            left: 0px;
        }

        &--disabled{
            opacity: 0;
        }
    }
    
}