#hero{
    height: 100dvh;
    min-height: 18rem;;
    //border-bottom: 2px dashed red;
    background-image: url(/images/cowboy.PNG);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 0px;
    background-position-y: 100%;

    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow: visible;
        padding-bottom: 40vh;
    }

    h1{
        display: contents;
        font-family: dino;
        font-size: 6rem;
        line-height: 10rem;
        overflow-wrap: anywhere;
        text-align: center;

        @include break-up('small'){
            color: red;
        }
    }

    .head{        
        display: none!important;
        width: 100%;
        height: 30px;
        outline: 1px solid blue;
        overflow: visible;
        display: flex;
        justify-content: space-between;

        .eye{
            border: 1px solid red;
            height: 50px;
            width: 50px;
            display: inline-block;
            position: relative;

            &::before{
                content: '';
                display: block;
                position: absolute;
                inset: 0px;
                left: var(--hor-offset);
                height: 50px;
                width:50px;
                background-color: blue;
                border-radius: 50%;
            }
        }
    }
   
}