#jobs {
  .job {
    &__swiper {
      overflow: hidden;

      &--desc {
      }
    }

    &__slide {
      height: auto;
      position: relative;
      overflow: visible;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 30dvh !important;
      padding: 15px;
      border: 5px solid $color-theme;
      background-color: $color-page;
      transition: background-color 2000ms linear;

      &.swiper-slide-active {
        background-color: $color-theme;
      }

      @include break-up("small") {
        &:first-of-type {
          &::before {
            content: "";
            z-index: -10;
            background-image: var(--bg-img);
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            color: $color-page;
            font-size: 4rem;
            display: block;
            position: absolute;
            inset: 0px;
            height: 100%;
            width: calc(100% - 5px);
            transform: translateX(0px), scaleX(-1);
            opacity: 0;
            transition: transform 1000ms ease-in-out, opacity 1000ms ease-in-out;
          }
          &.swiper-slide-active::before {
            opacity: 1;
            transform: translateX(calc(-100% - 5px));
          }
        }
      }
    }

    &__nav {
      $diameter: 40px;

      position: absolute;
      background-color: $color-theme-dark;
      top: auto;
      bottom: 10px;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      transition: 300ms;

      &::after {
        color: white;
      }

      &--next {
        right: 10px;
        &::after {
          font: var(--fa-font-solid);
          content: "\f061";
        }
      }
      &--prev {
        left: 10px;
        box-shadow: 0 0 3px $color-page;
        &::after {
          font: var(--fa-font-solid);
          content: "\f060";
        }
      }

      &--disabled {
        opacity: 0;
      }
    }

    &__logo {
      display: none;
      position: absolute;
      width: calc(30% - 10px);
    }

    &__header {
      font-size: 2rem;
      margin-bottom: 15px;
      text-align: center;
    }

    &__position {
      font-style: italic;
      text-align: center;
    }

    &__list {
      display: none;
    }
  }

  .jobDesc {
    height: 50dvh !important;
    background-color: $color-page;
    padding: 20px;

    [class*="fa-"] {
      font-size: 1.2rem;
    }

    &__header {
      font-size: 2rem;
    }

    &__location {
      margin-bottom: 10px;
    }

    &__dates {
      margin-bottom: 20px;
    }

    &__list {
      list-style: none;

      li {
        margin-left: 1.2rem;
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "\f058"; // Specify the content
          font: var(--fa-font-solid); // Use the specific font
          position: absolute;
          font-size: 1.2rem;
          left: -22px;
          top: 4px;
        }
      }
    }
  }
}
