#hero {
  $edge-offset: var(--top-edge);

  position: relative;
  height: 70vh;
  background: url(/images/temp01.png);
  background-color: $color-theme;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150%;
  background-position-y: calc(-1 * var(--top-edge) / 3);
  overflow: hidden;

  @include break-up("small") {
    //height: calc(100vh - calc(2 * $nav-top-padding + $nav-height));
  }

  // &::before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   inset: 0;
  //   width: 150%;
  //   height: 150%;
  //   background-image: url(/images/IMG_0135.PNG);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   // background: linear-gradient(0deg, transparent, $color-theme-dark);
  //   //z-index: 1;
  //   transform: translateY(calc($edge-offset * -0.9vh))
  //     scale(calc(-1.3 - $edge-offset/300));
  //   opacity: .6;
  //   //scale(calc($edge-offset));
  // }
  // &::after {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   inset: 0;
  //   width: 150%;
  //   height: 150%;
  //   background-image: url(/images/IMG_0134.PNG);
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   // background: linear-gradient(0deg, transparent, $color-theme-dark);
  //   //z-index: 1;
  //   transform: translateY(calc($edge-offset * -0.8vh))
  //     scale(calc(-1.3 - $edge-offset/500));
  //   opacity: 0.3;
  //   //scale(calc($edge-offset));
  // }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    height: 100%;
    position: relative;
  }

  .hero {
    &__image {
      display: none;
      position: absolute;
      width: auto;
      height: 60%;
      bottom: calc(var(--top-edge) / 3);
      left: $edge-offset;

      @include break-up("small") {
        width: 40vw;
        height: auto;
      }
      @include break-up("large") {
        width: 35vw;
      }
    }

    &__title {
      @extend .anim__hero-title--3;
      position: fixed;
      font-family: dino;
      font-size: 2.9rem;
      overflow-wrap: anywhere;
      text-align: center;
      $offset: -40px;

      @include break-up("small") {
        font-size: 5.8rem;
      }

      @include break-up("large") {
        font-size: 10rem;
      }

      span{
        display: inline-block;
        font-size: inherit;
        font-family: inherit;

        // @extend .anim__hero-title--3;
        // &.active {
        //   //@extend .anim__hero-title--3;
        // }
      }
      
      // &::before{
      //   content:'SavikLand';
      //   display: block;
      //   position: absolute;
      //   inset: 0;
      //   color: black;
      //   transform: translate3d(20px,calc(20px + 5rem), 0);// scaleY(-1);
      //   text-shadow: none;
      //   //color: $color-theme-accent-dark;
      //   color: black;
      //   //filter: blur(15px)
      //   //z-index: -1;
      // }
    }
  }
}

#about {
  $offset: var(--top-edge);

  .profile-pic {
    border: 5px solid $color-theme-accent;
    //@include multi-dark-box-shadow(20, $color-theme-accent-dark);
    //transform: translateY(calc($offset / 5));
  }
}

#jobs {
  .container {
    // &::after {
    //   // line underneath section
    //   content: "";
    //   position: absolute;
    //   display: block;
    //   width: 70%;
    //   height: 3px;
    //   background-color: $color-theme;
    //   left: 15%;
    // }
  }

  .job-swiper-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //align-items: center;

    @include break-up("small") {
      flex-wrap: nowrap;
    }
  }

  .job {
    &__swiper {
      overflow: hidden;
      grid-area: controller;
      width: 100%;
      max-height: 250px;

      @include break-up("small") {
        width: 33%;
      }

      &--desc {
        grid-area: viewer;
        width: 100%;

        @include break-up("small") {
          width: 67%;
        }
      }
    }

    &__slide {
      position: relative;
      overflow: visible;
      display: flex !important;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      padding: 15px;
      background-color: $color-page;
      border: none;

      @include break-up("small") {
        border-right: none;
        height: 150px;
      }

      &.swiper-slide-active {
        background-color: $color-theme-light;
      }
    }

    &__nav {
      $diameter: 40px;

      position: absolute;
      background-color: $color-theme-dark;
      top: auto;
      bottom: 10px;
      width: $diameter;
      height: $diameter;
      border-radius: 50%;
      transition: 300ms;

      &::after {
        color: white;
      }

      &--next {
        right: 10px;
        &::after {
          font: var(--fa-font-solid);
          content: "\f061";
        }

        @include break-up("small") {
          bottom: 10px;
          left: 10px;
          right: auto !important;

          &::after {
            font: var(--fa-font-solid);
            content: "\f063";
          }
        }
      }

      &--prev {
        left: 10px;
        box-shadow: 0 0 3px $color-page;

        &::after {
          font: var(--fa-font-solid);
          content: "\f060";
        }

        @include break-up("small") {
          top: 30px;
          box-shadow: 0 0 3px $color-page;
          &::after {
            font: var(--fa-font-solid);
            content: "\f062";
          }
        }
      }

      &--disabled {
        opacity: 0;
      }
    }

    &__pagination {
      position: absolute;
      left: calc(50% - 25%);
      bottom: 0px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0.6;

      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;

        &-active {
          background-color: $color-theme-dark;
        }
      }
    }

    &__header {
      font-size: 2rem;
      margin-bottom: 15px;
      text-align: center;
    }

    &__position {
      font-style: italic;
      text-align: center;
    }
  }

  .jobDesc {
    padding: 10px 20px;
    border: 5px solid $color-theme;
    border-top: none;

    @include break-up("small") {
      border-bottom: 5px solid $color-theme;
      border-left: 5px solid $color-theme;
      border-top: 5px solid $color-theme;
    }

    [class*="fa-"] {
      font-size: 1.2rem;
      display: inline-block;
    }

    &__header {
      font-size: 1.4rem;

      @include break-up("small") {
        font-size: 2rem;
      }
    }

    &__skills{
      ul{
        background-color: green;

        li{
          background-color: lightgreen;
        }
      }
    }

    &__location {
      display: inline-block;
      margin-bottom: 10px;
      margin-right: 5px;

      &::after{
        display: block;
        position: absolute;
        content: 'Where';
        font-size: 1.2rem;
        color: transparent;
        margin-left: 10px;
        font-style: bold;
        transform: translateY(-45px) rotateX(90deg);
        transition: transform 250ms ease-in-out, color 250ms ease-in-out;
      }
      &:hover{
        &::after{
          color: $color-page-dark;
          transform: translateY(-52px) rotateX(0deg);
        }
      }
    }

    &__dates {
      display: inline-block;
      margin-bottom: 10px;

      &::after{
        display: block;
        position: absolute;
        content: 'When';
        font-size: 1.2rem;
        color: transparent;
        margin-left: 10px;
        font-style: bold;
        transform: translateY(-45px) rotateX(90deg);
        transition: transform 250ms ease-in-out, color 250ms ease-in-out;
      }
      &:hover{
        &::after{
          color: $color-page-dark;
          transform: translateY(-52px) rotateX(0deg);
        }
      }
    
    }

    &__accordion {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    &__list {
      list-style: none;

      li {
        margin-left: 1.2rem;
        margin-bottom: 10px;
        position: relative;

        &::before {
          content: "\f058"; // Specify the content
          font: var(--fa-font-solid); // Use the specific font
          position: absolute;
          left: -20px;
          top: 4px;
        }
      }
    }
  }
}

#projects {


}

#comics{
  .comic{
    h3{
      margin: 10px auto;
    }
    ul{
      list-style: none;
      li{
        display: inline-block;
      }
    }
    img{
      max-height: 200px;
      max-width: 200px;
    }
  }
}