:root {
    --page-color: #fdfbf6;
    --page-seam-color: #e1e4e6;
    --page-shadow-color: #e7d2c2;
    --page-bold-color: #585858;
    --theme-color: #fdfbf6;
    --theme-accent-color: #ffcd94;
}

html {
    scroll-behavior: smooth;
    background-color: red;
    overflow-x: hidden;
    font-family: 'Futura', monospace;
}

* {
    padding: 0px;
    margin: 0px;
    outline: none;
    color: black;
}

h1, h2, h2 {
    cursor: default;
}

main {
    display: grid;
    row-gap: 0em;
    width: 100%;
}

section {
    background-color: var(--page-color);
    margin-bottom: 2em 0;
}

section.landing {
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    color: black;
}

section.page-section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "pg-s-header"
        "pg-s-image pg-s-title"
        "pg-s-image pg-s-badges"
        "pg-s-description"
        "pg-s-footer"
    ;
    width: 100%;
    padding: 2em 5em;
    min-height: 200px;
}

.raisable {
    position: relative;
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin: 1.5em;
    transition: 1s;
}

.raisable.small {
    height: 75px;
    width: 75px;
}

.raisable.large {
    height: 400px;
    width: 400px;
}

.raisable>.content {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    padding: 2em;
    outline: 2px solid var(--page-seam-color);
    border-radius: 15px;
    background-color: var(--theme-color);
    overflow: hidden;
    transition: 250ms, outline ease-out 100ms;
    box-shadow: 2px 2px var(--page-shadow-color);
}

.raisable>.content:before {
    /* Savik land text on card */
    content: 'SAVIKLAND \00a9';
    text-align: center;
    text-shadow: 0 0 5px var(--page-color);
    font-size: 0.9em;
    color: var(--page-seam-color);
    display: block;
    position: absolute;
    border-radius: 15px;
    right: 0.5em;
    bottom: 0.2em;
}

.raisable>.shadow {
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    background-color: var(--page-shadow-color);
    transition: filter 200ms, opacity 250ms ease-in-out, box-shadow 100ms ease-in;
    filter: blur(0);
}

.raisable.raised>.content {
    /* above shadow cast layer */
    z-index: 2;
    transform: scale(1.1);
}

.raisable.raised>.content::after {
    /* Stasis effect, set to 0 opacity */
    z-index: -1;
    content: '';
    display: block;
    position: absolute;
    border: 2px dashed var(--page-seam-color);
    border-radius: 15px;
    top: 0.1em;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    opacity: 0;
    transition: 50ms;
}

.raisable.raised.stasis>.content::after {
    /* Stasis effect enable */
    opacity: 1;
}

.raisable.raised>.shadow {
    /* shadow cast layer */
    opacity: 0.75;
    display: block;
    /* filter: blur(10px); */
}


.raisable-text {
    display: flex;
    position: relative;
    width: auto;
    height: 200px;
    font-size: 10rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: 250ms, text-shadow 200ms;
}

.raisable-text>* {
    font-size: inherit;
    font-weight: inherit;
    text-transform: inherit;
    transition: inherit;
}

.raisable-text>.content {
    z-index: 1;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 15px;
    color: var(--page-color);
    text-shadow: 
        2px 2px 0px var(--page-seam-color),
        2px 0px 0px var(--page-seam-color),
        2px -2px 0px var(--page-seam-color),
        0px 2px 0px var(--page-seam-color),
        0px 0px 0px var(--page-seam-color),
        0px -2px 0px var(--page-seam-color),
        -2px 2px 0px var(--page-seam-color),
        -2px 0px 0px var(--page-seam-color),
        -2px -2px 0px var(--page-seam-color)
    ;
/* -webkit-text-stro;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--page-seam-color); */
}

.raisable-text>.shadow {
    z-index: 0;
    opacity: 0;
    position: absolute;
    display: block;
    margin: auto;
    color: var(--page-shadow-color);
    filter: blur(0px);
}


.raisable-text.raised>.content {
    z-index: 2;
    color: var(--theme-accent-color)
    /* transform: scale(1.1); */
}

.raisable-text.raised>.shadow {
    opacity: 1;
    /* filter: blur(10px); */
}



.raisable.raised>.pop, .raisable-text.raised>.pop {
    /* transform: scale(1.2); */
}

.raisable.raised>.pop-left, .raisable-text.raised>.pop-left {
    left: -2rem;
    right: 2rem;
}

.raisable.raised>.pop-right, .raisable-text.raised>.pop-right {
    left: 10px;
    right: -10px;
}

.raisable.raised>.pop-up, .raisable-text.raised>.pop-up {
    top: -10px;
    bottom: 10px;
}

.raisable.raised>.pop-down, .raisable-text.raised>.pop-down {
    top: 2rem;
    bottom: -2rem;
}

.raisable-text.raised>.pop-left {    

}

.raisable-text.raised>.pop-right{
    
}

.raisable-text.raised>.pop-right.pop-up {
    text-shadow: 
    -1px 1px 1px var(--page-seam-color),
    -2px 2px 1px var(--page-seam-color),
    -3px 3px 1px var(--page-seam-color),
    -4px 4px 1px var(--page-seam-color),
    -5px 5px 1px var(--page-seam-color),
    -6px 6px 1px var(--page-seam-color),
    -7px 7px 1px var(--page-seam-color),
    -8px 8px 1px var(--page-seam-color),
    -9px 9px 1px var(--page-seam-color),
    -10px 10px 1px var(--page-seam-color);
}

.raisable-text.raised>.pop-up {
    text-shadow: 
    0 1px 1px var(--page-seam-color),
    0 2px 1px var(--page-seam-color),
    0 2px 1px var(--page-seam-color),
    0 4px 1px var(--page-seam-color),
    0 5px 1px var(--page-seam-color),
    0 6px 1px var(--page-seam-color),
    0 7px 1px var(--page-seam-color),
    0 8px 1px var(--page-seam-color),
    0 9px 1px var(--page-seam-color),
    0 10px 1px var(--page-seam-color);
}

.raisable-text.raised>.pop-down {

}