:root{
    --page-color: #fdfbf6;
    --page-seam-color: #e1e4e6;
    --page-shadow-color: #e7d3c2;
    --page-bold-color: #585858;
    --theme-color: #fdfbf6;
    --theme-accent-color: #ffcd94;
}

html {
    scroll-behavior: smooth;
    background-color: var(--page-color);
    overflow-x: hidden;
    font-family: 'Courier New', monospace;
}

*{
    padding: 0px;
    margin: 0px;
    outline: none;
    color: black;
}

.landing{
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    /* background: url(https://picsum.photos/1920/1080); */
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
    outline: 1px solid red;
    color: grey;
}

.landing > *{
    color: inherit;
}

.landing > div:first-child{
    font-size: 1.5rem;
    margin-bottom: 3em;
}

#spotify-embedded > iframe{
    position: fixed;
    bottom: 0px;
    left: 10px;
}

#spotify-embedded.open > iframe{
    outline: 3px solid var(--theme-accent-color);
}

#page{
    display: grid;
    row-gap: 2em;
    width: 100%;
}

.page-section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "pg-s-header"
        "pg-s-image pg-s-title"
        "pg-s-image pg-s-badges"
        "pg-s-description"
        "pg-s-footer"
    ;
    background-color: rgba(0,0,0,0.6);
    width: 80%;
    min-height: 300px;
    margin: auto;
}

.raisable{
    position: relative;    
    border-radius: 15px;
    height: 200px;
    width: 200px;
    margin: 5px;
    transition: 1s;
}

.raisable > .content{
    z-index: 1;
    position: absolute;
    top:0;
    left: 0;
    height: calc(100% - 4em);
    width: calc(100% - 4em);
    padding: 2em;
    outline: 2px solid var(--page-seam-color);
    border-radius: 15px;
    background-color: var(--theme-color);
    overflow: hidden;
    transition: 250ms, outline ease-out 100ms;
    box-shadow: 3px 3px var(--page-shadow-color);
}

.raisable > .content:before{
    content: 'SAVIKLAND \00a9';
    text-align: center;
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.39);
    font-size: 0.9em;
    color: black;
    opacity: 0.5;
    display: block;
    position: absolute;
    border-radius: 15px;   
    right: 0.5em;
    bottom: 0.3em;  
}

.raisable > .shadow{
    opacity: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;    
    background-color: var(--page-shadow-color);    
    transition: filter 200ms, opacity 250ms ease-in-out, box-shadow 100ms ease-in;
    filter: blur(0);
}

.raisable.raised > .content::after{
    content: '';
    display: block;
    position: absolute;
    border: 2px dashed var(--page-seam-color);
    border-radius: 15px;
    top: 0.1em;
    left: 0.1em;
    right: 0.1em;
    bottom: 0.1em;
    outline: 2px dashed var(--page-bold-color);
    outline-offset: 10px;   
    opacity: 0;
    transition: 50ms;
}

.raisable.raised.stasis > .content::after{
    opacity: 1;
}

.raisable.raised > .shadow {
    /* shadow cast layer */
    opacity: 0.75;
    display: block;    
    filter: blur(6px);
}

.raisable.raised > .content{
    /* above shadow cast layer */
    z-index: 2;
    transform: scale(1.1);
}

.raisable.raised > .content.pop{
    transform: scale(1.2);
}

.raisable.raised > .content.pop-left{
    left: -3em;
    right: 3em;
}

.raisable.raised > .content.pop-right{
    left: 3em;
    right: -3em;
}

.raisable.raised > .content.pop-up{
    top: -3em;
    bottom: 3em;
}

.raisable.raised > .content.pop-down{
    top: 3em;
    bottom: -3em;
}

.business{
    background: url(/images/business.gif) no-repeat center;
}