.anim {
  &__hero-title{
    animation: hero-title 1.2s ease-in-out forwards;
    //animation-delay: var(--animDelay, 0ms); // Default to 0ms if not specified
    $offset: -20px;

    @keyframes hero-title {
      0%, 100% {
        //color: inherit;
        transform: translateX(0px) translateY(0px);
        animation-timing-function: ease-out;
        text-shadow: 0 0 2px $color-page-dark;
      }
      50% {
        //color: black;
        transform: translateX($offset) translateY($offset);
        //animation-timing-function: ease-in;
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
        @include multi-dark-text-shadow(20, $color-theme-light);
      }
     
    }




    // //text-shadow: none;
    // //transform: translate3d(0,0,0);
    // animation: hero-title 5500ms infinite; 
    // //transition: transform 2s ease-in-out, text-shadow 500ms ease-in-out;

    // @keyframes hero-title {
    //   0%, 100%{
    //     color: $color-page;
    //     text-shadow: 0 0 2px $color-page-dark;
    //     //transform: translateX(0px) translateY(0px)
    //   }
    //   50% {
    //     color: $color-theme-accent;
    //     @include multi-dark-text-shadow(20, $color-page);
    //     //transform: translateX(-20px) translateY(-20px)
    //   }
    // }
  }

  &__in-and-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 250ms ease-in-out, transform 500ms ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__ping{
    $speed: 2s;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      inset: 0;
      background-color: $color-theme-accent; /* Blue with some transparency */
      //border: 3px solid $color-theme-accent;
      border-radius: 50%; /* Makes the effect circular */
      animation: ping $speed infinite; /* Ping effect repeats every 2 seconds */
    }

    &--border{
      &:before{
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        //background-color: $color-theme-accent; /* Blue with some transparency */
        border: 3px solid $color-theme-accent;
        border-radius: 50%; /* Makes the effect circular */
        animation: ping $speed infinite; /* Ping effect repeats every 2 seconds */
      }
    }
    
    @keyframes ping {
      0% {
        transform: scale(1); /* Initial size */
        opacity: 1; /* Fully visible */
      }
      100% {
        transform: scale(2.5); /* Grows in size */
        opacity: 0; /* Fades out */
      }
    }
  }

  &__drawer{
    box-shadow: 0 0 0 $color-page;
    animation: drawer 2s infinite;
    transform: translate(0px, 0px);
    border: 1px solid $color-page-dark;
    border-radius: 15px;

    @keyframes drawer {
      0%, 100%{
        transform: translate(0px, 0px);
      }
      50% {
        opacity: 1;
        box-shadow: 3px 3px 0 $color-page-dark;
        box-shadow: 10px 10px 0 $color-page-dark;
        transform: translate(-10px, -10px);
      }
    }
  }

  // &__popper{
  //   animation-iteration-count: 1;

  //   &:hover {
  //     animation: pop 2s forwards;
  //   }
    
  //   @keyframes pop {
  //     0%, 100% {
  //       color: white;
  //       transform: scale(1), translateX(0px);
  //     }
  //     50% {
  //       color: black;
  //       transform: scale(1.2), translateX(50px);
  //     }
  //   }
  // }

}
