.anim {
  &__hero-title{
    animation: hero-title 1.5s ease-in-out forwards;
    //animation-delay: var(--animDelay, 0ms); // Default to 0ms if not specified

    @keyframes hero-title {
      0%, 100% {
        //color: inherit;
        transform: translateX(0px) translateY(0px);
        animation-timing-function: ease-out;
        text-shadow: 0 0 2px $color-page-dark;
      }
      50% {
        //color: black;
        transform: translateX(-20px) translateY(-20px);
        //animation-timing-function: ease-in;
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
        @include multi-dark-text-shadow(20, $color-theme-light);
      }
     
    }




    // //text-shadow: none;
    // //transform: translate3d(0,0,0);
    // animation: hero-title 5500ms infinite; 
    // //transition: transform 2s ease-in-out, text-shadow 500ms ease-in-out;

    // @keyframes hero-title {
    //   0%, 100%{
    //     color: $color-page;
    //     text-shadow: 0 0 2px $color-page-dark;
    //     //transform: translateX(0px) translateY(0px)
    //   }
    //   50% {
    //     color: $color-theme-accent;
    //     @include multi-dark-text-shadow(20, $color-page);
    //     //transform: translateX(-20px) translateY(-20px)
    //   }
    // }
  }

  &__hero-title--2{
    animation: hero-title-2 1.5s ease-in-out forwards;

    &::before{
      content: attr(data-content);
      animation: hero-title-2-before 1.5s ease-in-out forwards;
      font-family: inherit;
      display: block;
      position: absolute;
      inset: 0;
      z-index: -1;
    }

    @keyframes hero-title-2 {
      0%, 100% {
        transform: translateX(0px) translateY(0px);
        animation-timing-function: ease-out;
      }
      50% {
        transform: translateX(-20px) translateY(-20px);
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
      }
    }

    @keyframes hero-title-2-before {
      0%, 100% {
        opacity: 0.9;
        color: black;
        filter: blur(0px);
        animation-timing-function: ease-out;
      }
      50% {
        opacity: .2;
        transform: translateX(20px) translateY(20px);
        animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
        color: rgba(0,0,0, 0.6);
        filter: blur(5px);
      }
    }
  }

  &__hero-title--3{
    $mouse-x-raw: var(--mouse-x);
    $mouse-x: calc(var(--mouse-x) * 100%);
    $mouse-y-raw: var(--mouse-y);
    $mouse-y: calc(var(--mouse-y) * 100%);
    $x-offset: 0dvw;
    $y-offset: 10dvh;
    $follow-speed: 15%;
    //animation: hero-title-3 1.5s ease-in-out forwards;
    //opacity: $mouse-x!important;
    // $x-trans: calc((var(--mouse-x) - 0.5) * $follow-speed);
    // $y-trans: calc((var(--mouse-y) - 0.5) * 50%);
    // transform: translateX($x-trans) translateY($y-trans);
    // background-position-x: calc(50% + $x-trans);
    // background-position-y: calc(50% + $y-trans);
    // background-repeat: no-repeat;

    // background-image: url('/images/temp01.png');
    // background-size: 200%;
    //background-position: center;
    // background-clip: text;
    // -webkit-background-clip: text;
    // color: transparent; // Make the text transparent
    // -webkit-text-fill-color: transparent; // Required for WebKit browsers

    &::before {
      content: attr(data-content); // Use the same text as the element
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      color: black; // Set the shadow color
      filter: blur(5px); // Adjust the blur for soft edges
      opacity: 0.5; // Adjust the shadow opacity
      text-shadow: 0 0 5px rgba(0, 0, 0, 0.3); // Set the actual shadow
    }

    // &::before{
    //   content: attr(data-content);
    //   animation: hero-title-2-before 1.5s ease-in-out forwards;
    //   font-family: inherit;
    //   display: block;
    //   position: absolute;
    //   inset: 0;
    //   z-index: -1;
    // }

    // @keyframes hero-title-3 {
    //   0%, 100% {
    //     transform: translateX(0px) translateY(0px);
    //     animation-timing-function: ease-out;
    //   }
    //   50% {
    //     transform: translateX(-20px) translateY(-20px);
    //     animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
    //   }
    // }

    // @keyframes hero-title-3-before {
    //   0%, 100% {
    //     opacity: 0.9;
    //     color: black;
    //     filter: blur(0px);
    //     animation-timing-function: ease-out;
    //   }
    //   50% {
    //     opacity: .2;
    //     transform: translateX(20px) translateY(20px);
    //     animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1); // Slow descent
    //     color: rgba(0,0,0, 0.6);
    //     filter: blur(5px);
    //   }
    // }
  }

  &__in-and-up {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 250ms ease-in-out, transform 500ms ease-in-out;

    &.visible {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &__ping{
    $speed: 2s;

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      inset: 0;
      background-color: $color-theme-accent; /* Blue with some transparency */
      //border: 3px solid $color-theme-accent;
      border-radius: 50%; /* Makes the effect circular */
      animation: ping $speed infinite; /* Ping effect repeats every 2 seconds */
    }

    &--badge{
      animation: ping $speed infinite; /* Ping effect repeats every 2 seconds */
    }

    &--border{
      &:before{
        z-index: -1;
        content: '';
        position: absolute;
        inset: 0;
        //background-color: $color-theme-accent; /* Blue with some transparency */
        border: 3px solid $color-theme-accent;
        border-radius: 50%; /* Makes the effect circular */
        animation: ping $speed infinite; /* Ping effect repeats every 2 seconds */
      }
    }
    
    @keyframes ping {
      0% {
        transform: scale(1); /* Initial size */
        opacity: 1; /* Fully visible */
      }
      100% {
        transform: scale(2.5); /* Grows in size */
        opacity: 0; /* Fades out */
      }
    }
  }

  &__drawer{
    box-shadow: 0 0 0 $color-page;
    animation: drawer 2s infinite;
    transform: translate(0px, 0px);
    border: 1px solid $color-page-dark;
    border-radius: 15px;

    @keyframes drawer {
      0%, 100%{
        transform: translate(0px, 0px);
      }
      50% {
        opacity: 1;
        box-shadow: 3px 3px 0 $color-page-dark;
        box-shadow: 10px 10px 0 $color-page-dark;
        transform: translate(-10px, -10px);
      }
    }
  }

  &__badge{
    $speed: 1.5s;

    animation: badge $speed infinite; 

    @keyframes badge {
      0%,100% {
        transform: scale(1.05); /* Initial size */
        filter: blur(0px);
      }
      50% {
        transform: scale(1.05); /* Grows in size */
        filter: blur(2px);
      }
    }
  }

  // &__popper{
  //   animation-iteration-count: 1;

  //   &:hover {
  //     animation: pop 2s forwards;
  //   }
    
  //   @keyframes pop {
  //     0%, 100% {
  //       color: white;
  //       transform: scale(1), translateX(0px);
  //     }
  //     50% {
  //       color: black;
  //       transform: scale(1.2), translateX(50px);
  //     }
  //   }
  // }

}
