// themes:
$color-page: #fdfbf6;
$color-theme: #ff9f00;

// stuffs:
$color-the-orange-stuff: #ff9f00;
$color-the-pink-stuff: #c15;
$color-the-green-stuff: #3ea;
$color-the-blue-stuff: #70baff;
$color-the-yellow-stuff: #fed715;

// colors:
$color-turquoise-blue: #00A6A6;
$color-hot-pink: #FF6EB4;
$color-sunset-orange: #FF914D;
$color-electric-purple: #8E44AD;
$color-neon-yellow: #DFFF00;
$color-charcoal-gray: #333333;
$color-cotton-candy-pink: #FFB3D9;
$color-mint-green: #A2E8C4;
$color-retro-red: #FF5B5B;
$color-creamy-beige: #F6E4D5;
$color-orange-crush: #FFA941;
