//General Variables =====
$max-content-width: 1000px;
$min-content-width: 350px;
$content-padding-small: 20px 5px;
$content-padding-medium: 30px 20px;
$content-padding-large: 40px 30px;
$scrollbar-width: 10px;
$anim-speed: 250ms;

$badge-padding: 5px 10px;
$nav-height: 3rem;
$nav-top-padding: 10px;

//breakpoints used for mixins
$breakpoints: (
  'small'  : 600px,
  'large' : 960px,
) !default;

// Fonts ======
@font-face {
  font-family: "dino";
  src: url(/src/dist/fonts/Dinofans-ARmlm.woff) format('woff');
}

// Scrollbar =====
$scrollbar-width: 15px;

// Colors =====
// themes:
$color-page: #F0F5F5;
$color-page-dark: #d0d5d5;
$color-theme: #008080;
$color-theme-dark: #333;
$color-theme-light: #66B2B2;
$color-theme-light-accent: #bee8e8;
$color-theme-accent: #FF6F61;
$color-theme-accent-dark: #cf584d;


// stuffs:
$color-the-orange-stuff: #ff9f00;
$color-the-pink-stuff: #c15;
$color-the-green-stuff: #3ea;
$color-the-blue-stuff: #70baff;
$color-the-yellow-stuff: #fed715;
// colors:
$color-turquoise-blue: #00A6A6;
$color-hot-pink: #FF6EB4;
$color-sunset-orange: #FF914D;
$color-electric-purple: #8E44AD;
$color-neon-yellow: #DFFF00;
$color-charcoal: #333333;
$color-cotton-candy-pink: #FFB3D9;
$color-mint-green: #A2E8C4;
$color-retro-red: #FF5B5B;
$color-creamy-beige: #F6E4D5;
$color-orange-crush: #FFA941;

// $color-work-boh: #1d2b93; 