.skip-nav {
    position: absolute;
    transform: translateY(-120%);
    margin-left: 10px;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    transition: transform $anim-speed ease-out;

    &:is(:focus, :hover) {
        transform: translateY(0);
    }
}

*:focus-visible, *:focus{
    outline: 2px solid red;
}