.skip-nav {
    position: absolute;
    z-index: 100;
    transform: translateY(-120%);
    margin-left: 10px;
    padding: 1rem;
    border-radius: 0 0 15px 15px;
    transition: transform $anim-speed ease-out;
    background-color: $color-theme-accent;
    color: white;
    font-weight: bold;
    text-decoration: underline;

    &:is(:focus, :hover, :focus-visible) {
        transform: translateY(0);
    }
}

button:is(:active, :focus, :focus-visible, :hover),
*.btn:is(:active, :focus, :focus-visible, :hover){
    cursor: pointer;

    &::before{
        content: '';
        display: block;
        position: absolute;
        inset: -5px;
        outline: 2px solid $color-theme-light;
    }
}

*:focus-visible{
    outline: 2px dashed $color-theme-accent;
    outline-offset: 2px;
}

nav{
    position: relative;
    width: 100%;
    height: calc($nav-top-padding + $nav-height);
    overflow: visible;
    display: none;

    @include break-up('small'){
        @include flex-center;
    }

    &::before{
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        background-color: $color-theme-accent;
        opacity: 1;
        filter: blur(0px);
    }

    &.sticky{
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: transparent;
    }

    .container{
        padding-top: 10px;
        padding-bottom: 10px;
        overflow: visible!important;
    }

    ol{
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        overflow: visible;

        li{
            transition: calc($anim-speed/2) ease-in-out;
            overflow: visible;

            a{
                $heightToUse: calc($nav-height - 10px);
                display: inline-block;
                text-align: center;
                line-height: $heightToUse;
                text-decoration: none;
                height: $heightToUse;
                padding-left: 10px;
                padding-right: 10px;
                border-radius: 5px;
                border: 1px solid $color-theme-accent-dark;
                transition: box-shadow 400ms ease-in-out, transform 500ms ease-in-out;

                &:is(:hover, :focus){
                    //outline-color: $color-theme-dark!important;
                    @include multi-dark-box-shadow(5, $color-theme-accent-dark);
                    transform: translate3d(-5px, -5px, 0px);
                }

                &.active{
                    @include multi-dark-box-shadow(10, $color-theme-accent-dark);
                    transform: translate3d(-10px, -10px, 0px);
                    background-color: $color-theme-accent;
                    color: white;
                    text-shadow: 0 0 2px white;
                }

                &:focus{
                    outline: 2px dashed $color-theme-dark;
                    outline-offset: -3px;
                }

                // &:focus{
                //     color: purple!important;
                //     outline-color: black!important;
                // }

                // &:hover, &:focus{
                //     background-color: $color-theme-accent-dark;
                // }

                // &.active, &:hover, &:focus{
                //     box-shadow: 10px 10px 0px $color-theme-accent-dark;
                //     transform: translate3d(-10px, -10px, 0px);
                // }

                // &.active{
                //     color: white;
                // }
            }
        }
    }

    .siteName{
        font-family: dino;
        font-size: 1.9rem;
        overflow-wrap: anywhere;
        text-align: center;
        text-shadow: 2px 2px 4px $color-theme-accent-dark;
        color: $color-theme;  
    }
}

.dark-mode-toggle{
    display: none;
    position: absolute;
    right: 0;

    input[type='checkbox']{
        background-color: red;

        &:checked{

        }
    }
}