// Content Area =====
html {
  scroll-behavior: smooth;
  background-color: $color-page;
  width: 100% !important;
  overflow-x: hidden;
  font-family: "Futura", monospace;

  &[data-debug-enabled="true"]{
    #debug-menu{
      display: flex;
    }

    *{
      outline: 1px solid red!important;

      @include break-up('small'){
        outline: 1px solid green!important;
      }
      @include break-up('large'){
        outline: 1px solid blue!important;
      }
    }

    
  }

  #debug-menu{
    position: fixed;
    display: none;
    flex-direction: column;
    inset: 5px;
    opacity: 1;
    background-color:#333;
    max-width: fit-content;
    max-height: fit-content;
    padding: 2px;
    outline: 2px solid black;
    border: 2px solid black;
    outline-offset: -2px;
    z-index: 9999;
    color:white;
  }
}

body{
  font-size: 1rem;
}

main {
  @include flex-center;
  flex-direction: column;
  width: calc(100vw - $scrollbar-width);
  column-gap: 0px;
  row-gap: 0px;
  background-color: $color-page;
  overflow: hidden;
}

// Sections =====
section {
  @include flex-center;
  @include anim--in-and-up;

  width: 100%;
  min-height: 300px;
  padding: 0px;
  position: relative;
  background-color: $color-page;
  z-index: var(--layer-var);  

  @include break-up('small'){
    padding: 20px $main-content-padding;

  }

  // ::selection {
  //   background: $color-theme-dark;
  //   color: $color-theme;
  // }

  &.section--dark{
    background-color: $color-theme-dark; 
    color: white;

    // ::selection {
    //   background: $color-theme;
    //   color: $color-theme-dark;
    // }
  }

  .section-image {
    position: absolute;
    right: 0px;
    left: auto;
    top: 0px;
    height: 100%;
    max-height: 400px;
    display: none;

    &--hero {
      position: fixed;
      right: -20px;
      left: auto;
      top: auto !important;
      transform: none !important;
      width: 50%;
      height: auto;
      max-height: none;
      opacity: 1;
      display: block;
    }
  }

  .container {
    max-width: $max-content-width;
    // background-image: url(https://picsum.photos/600/600);
    border-radius: 15px;
    position: relative;
    overflow: hidden;
    padding: 10px 5px;

    @include break-up('small'){
      padding: 10px 20px;

    }
    
    &--hero {
      background-image: none;
      // background-color: transparent;
      height: max(700px, 80dvh) !important;
      width: 100%;
      max-width: none;
      outline: none;
      // border-bottom: 50px solid $color-theme;
      border-radius: 0px;
      padding: 0px;

      // &:is(:focus, :hover, :focus-visible) {
      //     outline: none;
      // }

      // @include break-up('large'){
      //     background-position: top;
      //     background-size: 75%;
      //     background-position-x: right;
      // }
      .hero {
        &__title {
          position: fixed;
          width: 100%;
          top: 0px;
          text-align: center;
          flex-direction: column;
          color: #333;

          h1 {
            font-family: Hiragino Maru Gothic ProN;
            font-size: 60px;
          }
        }

        &__hook-line {
          color: $color-theme;
          position: absolute;
          width: 100%;
          bottom: 0px;
          left: 20px;

          p {
            width: 100%;
            text-align: left;
            font-size: 50px;
            line-height: 50px;
            text-transform: uppercase;
            font-weight: bold;
          }
        }
      }
    }

    h2{
      font-size: 2rem;
    
    }

  }
}
