// Scrollbar =====
::-webkit-scrollbar {
    width: 15px;
    transition: background-color 250ms ease-in-out
}

::-webkit-scrollbar-track {
    background-color: #fdfbf6
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ff9f00
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff9f00
}

// Content Area =====
html {
    scroll-behavior: smooth;
    background-color: $color-page;
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Futura", monospace;
}

main {
    @include flex-center;
    flex-direction: column;
    width: calc(100vw - $scrollbar-width);
    column-gap: 0px;
    row-gap: 0px;
    background-color: $color-page;
    overflow: hidden;
}

// Sections =====
section {
    width: 100%;
    padding: 20px $main-content-padding;
    position: relative;
    @include flex-center;
    background-color: $color-page;
    z-index: var(--layer-var);
    transition: opacity 1000ms ease-in-out;
    opacity: 0;

    &.section{
        &--visible{
            opacity: 1;
        }
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        bottom: 0px;
        left: 70%;
        width: 30%;
        height: 100%;
        background-color: $color-theme;
    }

    &:nth-child(2n){
        &:before {
            left: 0;
        }
    }

    &#hero {
        padding: 0px !important;
    } 

    &#work {
        //display: none;
    }

    // @include break-up('small'){

    // }

    .container {
        max-width: $max-content-width;
        // background-image: url(https://picsum.photos/600/600);
        border-radius: 15px;
        position: relative;
        overflow: hidden;
        padding: 10px 20px;

        &:is(:focus, :hover, :focus-visible) {
            outline: 2px solid $color-theme;
        }

        &__image{
            position: fixed;
            aspect-ratio: 1;
            left: 0px;
            height: auto;
            bottom: 0;
            transform: translateY(-50%);
        }

        &--hero {
            background-image: none;
            background-color: transparent;
            height: 80dvh !important;
            width: 100%;
            max-width: none;
            height: 90dvh;
            outline: none;
            // border-bottom: 50px solid $color-theme;
            border-radius: 0px;
            padding: 0px;

            &:is(:focus, :hover, :focus-visible) {
                outline: none;
            }

            // @include break-up('large'){
            //     background-position: top;
            //     background-size: 75%;
            //     background-position-x: right;
            // }
            .hero {
                &__title {
                    position: fixed;
                    width: 100%;
                    top: 0px;
                    text-align: center;
                    flex-direction: column;
                    color: #333;

                    h1 {
                        font-family: Hiragino Maru Gothic ProN;
                        font-size: 60px;
                    }
                }

                &__hook-line {
                    color: $color-theme;
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    left: 20px;

                    p {
                        width: 100%;
                        text-align: left;
                        font-size: 50px;
                        line-height: 50px;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }

                &__image {
                    position: fixed;
                    top: 0px;
                    right: -20px;
                    aspect-ratio: 1;
                    width: 50%;
                }
            }


        }

        &--work {
            @extend .container;

            background-image: none;
        }
    }
}
