// Scrollbar =====
::-webkit-scrollbar {
    width: 15px;
    transition:background-color 250ms ease-in-out
}

::-webkit-scrollbar-track {
    background-color:#fdfbf6
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color:#ff9f00
}

::-webkit-scrollbar-thumb:hover {
    background-color:#ff9f00
}

// Content Area =====
html {
    scroll-behavior: smooth;
    background-color: #fdfbf6;
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Futura", monospace
}

main {
    width: calc(100vw - 15px - 6px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
    padding:5px 3px
}

// Sections =====
section {
    width: 100%;
    min-width: 450px;
    padding: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;

    // @include break-up('small'){

    // }
}

@media (min-width: 992px) {
    section {
        background-color: red;
        width:33%
    }
}

@media (min-width: 767px) {
    section {
        background-color: blue;
        width:50%
    }
}

section > .container {
    background-color: eggshell;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://picsum.photos/600/600);
    border-radius: 15px;
    outline: 2px solid #ff9f00;
    box-shadow:0px 6px 0px var #ff914d
}

section > .container--hero {
    background-image: url(../images/landing-background-savik.png);
    background-position-y: 60px;
    background-position-x:50px
}

section > .container--hero > .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#333
}

section > .container--hero > .title > h1 {
    font-size: 60px;
    text-align:center
}

section > .container--hero > .title > sub {
    font-style: italic;
    text-align: center;
    font-size: 16px;
    margin-left:20px
}
